body{
	background-image: linear-gradient(to left, #141313, #2a2925);
}

header{
	margin-left:30px;
	margin-right:30px;
}

h1{
	font-family:JetBrainsMono Nerd Font;	
	font-weight:600;
	font-size:410%;

	text-align:center;
	color:#FFFFFF;

	border: 4px solid #ffffff;
	border-radius:3px;

	padding:30px 20px 30px 20px;
	
}

header p{
	width:62%;
	margin:auto;
	text-align:center;
	font-family:Montserrat;
	letter-spacing:1px;
	font-weight:500;
	color:#ffffff;
}

header img{
	display:block;
	margin:auto;
	width:45%;
}

h2{
	font-family:JetBrainsMono Nerd Font;	
	font-weight:500;
	font-size:150%;

	color:#FFFFFF;
	width:30%;
	text-align:center;
	
	border: 2px solid #ffffff;
	border-radius:3px;

	padding:20px 20px 20px 20px;
	margin:auto;
}

ul{
    list-style-type: circle;
    color:#ffffff;
}

ul h3{
	font-family:JetBrainsMono Nerd Font;	
	font-weight:500;
	font-size:130%;

	color:#FFFFFF;
	width:30%;
	
	padding:30px 30px 30px 30px;
}

ul img{
	display:block;
	margin:auto;
	width:20%
}

ul p{
	text-align:center;
	font-family:Montserrat;
	letter-spacing:1px;
	color:#ffffff;
}
